body {
    font-family: 'Roboto', sans-serif;
}

.bg-primary {
    background-color: #F98866 !important; /* Tomato red for a food theme */
}

.btn-primary {
    background-color: #F98866;
    border-color: #F98866;
}

.btn-primary:hover {
    background-color: #a4706a;
    border-color: #a96b64;
}

.btn-success {
    background-color: #4CAF50; /* Green for "Add to Cart" */
    border-color: #4CAF50;
}

.btn-success:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}